/* Initialize CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  height: 400px;
  width: 100%;
  background-image: url(img/mv.jpg);
  background-position: bottom;
  background-size: cover;
}
  .header {
    padding: 20px;
  }

main {
  width: 840px;
  margin: 50px auto;
}
  .service-item {
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid grey;
  }
  .service-item:last-child {
    margin-bottom: 0px;
  }